@using Rando.Models;
@using Rando.ViewModels;
@model RamblePageViewModel;

@{
    ViewData["Title"] = "Ramble Opinion";
}

<h1>@Html.DisplayFor(model => model.Ramble.Title)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Ramble.Region)</h4>
    <div class="card mb-12">
        <div class="row">
            <div class="col-sm-3">
                Distance : @Html.DisplayFor(model => model.Ramble.Distance) km
            </div>
            <div class="col-sm-3">
                Durée moyenne : @Html.DisplayFor(model => model.Ramble.Duration) h
            </div>
            <div class="col-sm-3">
                Difficulté : @Html.DisplayFor(model => model.Ramble.Difficulty)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Dénivelé positif : @Html.DisplayFor(model => model.Ramble.HeightDifferencePositive) m
            </div>
            <div class="col-sm-3">
                Dénivelé positif : @Html.DisplayFor(model => model.Ramble.HeightDifferenceNegative) m
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Région : @Html.DisplayFor(model => model.Ramble.Region)
            </div>
            <div class="col-sm-3">
                Commune : @Html.DisplayFor(model => model.Ramble.City)
            </div>
            <div class="col-sm-3">
                Latitude : @Html.DisplayFor(model => model.Ramble.DepartLatitude)
            </div>
            <div class="col-sm-3">
                Longitude : @Html.DisplayFor(model => model.Ramble.DepartLongitude)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Description
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Ramble.Description)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Ramble.HikingPhotoUrl)" style="width: 20rem;" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            Avis
        </div>
        @foreach (Opinion opinion in Model.Opinions)
        {
            <div class="card mb-10">
                <p>@opinion.Score /5</p>
                <p>@opinion.CreatedAt /5</p>
                <p>@opinion.Comment /5</p>
            </div>
        }
        @*@if (@Model.Opinions != null)
        {

        }*@

    </div>
    <div class="row">
        <h5>Donnez votre avis</h5>
        <div class="col-md-4">
            <form method="POST" asp-action="PostOpinion">
                <input type="hidden" name="Ramble.Id" value="@Html.DisplayFor(model => model.Ramble.Id)">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Score" placeholder="Votre note" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea name="Comment" placeholder="Votre message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Poster" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Retour</a>
    </div>
</div>