@*@model IEnumerable<Rando.Models.Ramble>*@
@model Rando.ViewModels.RamblesListDifficultyViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container my-5">
    <h1 class="text-center">Trouvez votre future randonnée</h1>

    <div class="row my-2 justify-content-center">
        <div class="card col-md-10 my-4">
            <div class="row ml-3">
                <h4 class="mt-2">Filtres</h4>
            </div>
            <div class="row mx-5 my-5 justify-content-center">
                <form asp-action="Index" method="get" class="col-md-12">
                    <div class="row justify-content-center mb-3">
                        <div class="col-sm-6">
                            <div class="row">
                                <label>Recherche par titre</label>
                            </div>
                            <input type="text" name="SearchString" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <div class="row">
                                <label>Difficulté</label>
                            </div>
                            <div class="row">
                                <select name="RambleDifficulty" asp-items="Model.Difficulties">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <div class="row">
                                <label>Région</label>
                            </div>
                            <div class="row">
                                <select name="RambleRegion" asp-items="Model.Regions">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Chercher" />
                </form>
            </div>
        </div>
    </div>

    @foreach (var item in Model.Rambles)
    {
        <div class="row my-2 justify-content-center">
            <div class="card col-md-10 my-4">
                <div class="row">
                    <div class="col-md-4 my-auto">
                        <img src="@Html.DisplayFor(modelItem => item.HikingPhotoUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" style="width: 15rem;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">Difficulté : @Html.DisplayFor(modelItem => item.Difficulty)</p>
                            <p class="card-text">Distance : @Html.DisplayFor(modelItem => item.Distance) km</p>
                            <p class="card-text">Durée : @Html.DisplayFor(modelItem => item.Duration) h</p>
                            <p class="card-text"><small class="text-muted">Départ : @Html.DisplayFor(modelItem => item.Region) - @Html.DisplayFor(modelItem => item.City)</small></p>
                            <a asp-action="Details" asp-route-id="@item.Id">Voir la rando</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row py-5">
        <a asp-action="Create">Ajouter une randonnée</a>
    </div>
</div>

