@model IEnumerable<Rando.Models.Ramble>

@{
    ViewData["Title"] = "Index";
}

<h1>Randonnées</h1>

<p>
    <a asp-action="Create">Ajouter une randonnée</a>
</p>

@foreach (var item in Model)
{
    <div class="card mb-8" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Html.DisplayFor(modelItem => item.HikingPhotoUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" style="width: 10rem;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">Difficulté : @Html.DisplayFor(modelItem => item.Difficulty)</p>
                    <p class="card-text">Distance : @Html.DisplayFor(modelItem => item.Distance) km</p>
                    <p class="card-text">Durée : @Html.DisplayFor(modelItem => item.Duration)</p>
                    <p class="card-text"><small class="text-muted">Départ : @Html.DisplayFor(modelItem => item.Region) - @Html.DisplayFor(modelItem => item.City)</small></p>
                    <a asp-action="Details" asp-route-id="@item.Id">Voir la rando</a>
                </div>
            </div>
        </div>
    </div>

}

